.gallery
    padding: 5rem 0
    &_grid
        padding: 4rem 0
    &_inner
        display: flex
        flex-direction: column
        align-items: center

.splide__slide img
    border-radius: 15px

.splide__slide
    padding: 1em

.splide__pagination
    position: relative
    top: 15px
