.header
    padding: 2rem 0
    position: sticky
    top: 0
    background: $sec
    box-shadow: 0 0 5px rgba(black,0.1)
    z-index: 69

.header_inner
    display: flex
    align-items: center
    justify-content: space-between

.header_nav
    display: flex
    align-items: center
    gap: 1.3em

.header_lang
    margin-right: 1em

.drplink
    padding-bottom: 30px
    font-weight: 700

.header_cta
    display: flex
    align-items: center

.dropdown
    display: inline-block
    position: relative
    &-content
        top: 50px
        left: 0
        padding: 1em
        background: $sec
        border-radius: 15px
        display: none
        position: absolute
        box-shadow: 0 0 5px rgba(black,0.2)
        z-index: 1
        transition: all 300ms 500ms
        &-demo
            background: #343F52
            width: 90vw
            top: 130px
            transform: translateX(-50%)
            left: 50%
            grid-template-columns: repeat(6,1fr )
            max-width: 1100px
            grid-gap: 1em
            img
                border-radius: 15px
                grid-gap: 1em
                cursor: pointer
                &:hover
                    transform: translateY(-5px)
        a
            color: black
            padding: 12px 16px
            text-decoration: none
            display: block
            &:hover
                color: $pri

    &:hover .dropdown-content
        display: grid

.dropdown-demo
    position: unset

.header .fa-caret-down
    margin-left: 0.3em
    color: $pri

.burger
    cursor: pointer
    display: inline
    display: flex
    flex-direction: column
    gap: 0.4em
    &_bar
        height: 3px
        width: 25px
        background: $text

@media screen and ( max-width: 1000px )
    .header_cta
        align-items: center
        flex: 1
        justify-content: flex-end
        margin-right: 25px
    .header_lang
        align-self: center
        position: relative
        top: 15px
    .header_nav
        display: none
        position: absolute
        flex-direction: column
        top: 0
        left: 0
        z-index: 70
        align-items: flex-start
        background: #1E2228
        padding: 3em
        min-width: 40vw
        height: 100vh
        a.drplink
            color: $sec
    .header_nav.shown
        display: flex
    .drplink
        display: flex
        width: 100%
        align-items: center
        justify-content: space-between

    .dropdown-content-demo
        display: none
        opacity: 0

.burger.cross
    .burger_bar1
        transform: rotate(45deg) translateY(13px)
    .burger_bar3
        transform: rotate(-45deg) translateY(-13px)
    .burger_bar2
        opacity: 0
